<div class="container-fluid">

    <div class="row">
        <div class="col-md-2 col-3 offset-xs-2 align-self-center">
            <h1 style="display: inline;">Golazo</h1>
            <br>
            <br>
            <button *ngIf="!fixtureMode" class="btn btn-sm btn-info" (click)="fixtureMode = true">Show All Fixtures</button>
            <button *ngIf="fixtureMode" class="btn btn-sm btn-info" (click)="fixtureMode = false">Show Table</button>    
        </div>
      
        <div *ngIf="!fixtureMode" style.visibility = "{{fixtureMode ? 'hidden' : 'visible'}}" class="col-md-3 col-xs-8 offset-md-6" style="margin-top: 1em;">
            <h4 style="display: inline">Today's Fixtures</h4>
            <hr>
            <p style="list-style:none; margin-top: .05em; margin-bottom: 0;" *ngFor="let fixture of todaysFixtures">
                <app-live-fixture [fixture]="fixture" [showGoals]="true"></app-live-fixture>
            </p>    
        </div>
    </div>
    <div *ngIf="!fixtureMode">
        <br>
        <br>
        <table class="table table-sm" style="text-align: center">
          
          <thead>
            <th scope="col">Player</th>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
            <th scope="col">D</th>
            <th scope="col">Goals</th>
            <th scope="col">Points For</th>
            <th scope="col">Points Against</th>
            <th scope="col">Net</th>

          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td style="vertical-align:middle">{{user.name}}</td>
              <td *ngFor="let team of user.teams"><p>{{team.name}}</p><p>{{team.goals}}</p></td>
              <td style="vertical-align:middle">{{user.totalGoals}}</td>
              <td style="vertical-align:middle">{{user.totalPoints}}</td>
              <td style="vertical-align:middle">{{user.negative_points}}</td>
              <td style="vertical-align:middle">{{user.totalPoints - user.negative_points}}</td>

            </tr>
          </tbody>
        </table>
      </div>
  
      <div *ngIf="fixtureMode">
        
        <app-fixtures-list [dateFixtures]="dateFixtures"></app-fixtures-list>

      </div>
  
  </div>